/* 通过 JS 控制的 CSS */
/* z = 状态 */

/* 隐藏 */
.z-hidden {
	display: none;
}

/* 关注按钮切换 */
.m-tt .z-unfollow {
	width: 54px; height: 21px;
	background: url('../res/sprite.png') -464px -52px no-repeat;
}
.m-tt .z-unfollow:hover {
	background: url('../res/sprite.png') -520px -52px no-repeat;
}
.m-tt .z-follow {
	width: 106px; height: 21px;
	background: url('../res/sprite.png') -248px -52px no-repeat;
}
.m-tt .z-follow:hover {
	background: url('../res/sprite.png') -356px -52px no-repeat;
}

/* 轮播图选择器（选中状态） */
.m-sld .z-sel {
	background: url('../res/sprite.png') -588px -71px no-repeat;
}

/* 选项卡（选中状态） */
.m-tab .z-sel {
	background-color: #39a030;
	color: #fff;
}

/* 翻页器（选中状态） */
.m-page .z-sel {
	color: #39a030;
}
/* 翻页器（禁用状态） */
.m-page>.z-dis {
	cursor: not-allowed;
}