/* 通过 JS 控制的 CSS */
/* z = 状态 */

/* 隐藏 */
.z-hidden {
	display: none;
}
/* 显示为block元素 */
.z-show-blk {
	display: block;
}

/* 关注按钮切换 */
.m-tt .un-follow {
	width: 54px; height: 21px;
	background: url('../res/sprite.png') -464px -52px no-repeat;
}
.m-tt .un-follow:hover {
	background: url('../res/sprite.png') -520px -52px no-repeat;
}
.m-tt .follow {
	width: 106px; height: 21px;
	background: url('../res/sprite.png') -248px -52px no-repeat;
}
.m-tt .follow:hover {
	background: url('../res/sprite.png') -356px -52px no-repeat;
}

/* 轮播图选择器（选中状态） */
.m-sld .selected {
	background: url('../res/sprite.png') -588px -71px no-repeat;
}

/* 选项卡（选中状态） */
.m-tab .selected {
	background-color: #39a030;
	color: #fff;
}

/* 翻页器（选中状态） */
.m-page .selected {
	color: #39a030;
}