/* 布局 CSS */
/* g = 布局 */
/* m = 模块 */

/* 最外围包裹层 */
/* x = max */
.x-wrap {
	position: relative;
	margin: 0 auto;
	min-width: 1204px; max-width: 1616px;
	height: 100%;
}

/* 顶部通知条 */
/* ntf = notify */
.m-ntf {
	height: 36px;
	font: 12px/36px 'Microsoft Yahei';
	background-color: #f3f3f3;
}
.m-ntf p {
	position: absolute;
	left: 206px;
	color: #333;
}
.m-ntf a {
	color: #21a557;
}
.m-ntf a:hover {
	text-decoration: underline;
}
.m-ntf div {
	position: absolute;
	right: 270px;
}
.m-ntf .close {
	display: inline-block;
	width: 9px; height: 9px;
	background: url('../res/sprite.png') -239px -38px no-repeat;
	cursor: pointer;
}
/* fv = forever */
.m-ntf .close-fv {
	margin-left: 6px;
	color: #333;
	cursor: pointer;
}

/* 网页头部 */
/* 头部导航区 */
/* hdr = header */
.m-hdr {
	position: relative;
	height: 52px;
	margin-bottom: 37px;
}
/* 标题区 */
/* tt = title */
/* fl = follow */
.m-tt {
	position: absolute; left: 10%; bottom: 0px;
	font-size: 0;
}
.m-tt .tt-wrap, .m-tt .fl-wrap {
	display: inline-block;
}
.m-tt .tt-wrap>* {
	display: inline-block;
	vertical-align: bottom;
	color: #39a030;
}
.m-tt .logo {
	font: bold 28px/28px 'GillSansMT','Microsoft Yahei';
}
/* sep = separate */
.m-tt .sep {
	font: 24px 'Times New Roman','Microsoft Yahei';
	margin-left: 10px; margin-right: 11px;
}
.m-tt .tt-wrap>h1 {
	font: 22px 'HirginoSansGB','Microsoft Yahei';
	color: #333;
}
.m-tt .fl-wrap * {
	display: inline-block;
	vertical-align: bottom;
}
.m-tt .btn-fl {
	margin-left: 31px;
	cursor: pointer;
}
.m-tt .fans {
	margin-left: 14px;
	font: 12px/20px 'simsun','Microsoft Yahei';
	color: #666;
}
.m-tt .fans span+span {
	margin-left: 7px;
}
/* 导航区 */
.m-nav {
	position: absolute; right: 10%; bottom: 0px;
	font-size: 0;
}
.m-nav ul, .m-nav li, .m-nav span {
	display: inline-block;
}
.m-nav li+li {
	margin-left: 54px;
}
.m-nav a {
	font: 20px/20px 'HirginoSansGB','Microsoft Yahei';
	color: #666;
}
.m-nav a:hover {
	color: #39a030;
}
.m-nav .btn-search {
	width: 19px; height: 19px;
	margin-left: 30px;
	vertical-align: bottom;
	background: url('../res/sprite.png') -218px -20px no-repeat;
	cursor: pointer;
}
.m-nav .btn-search:hover {
	background: url('../res/sprite.png') -196px -25px no-repeat;
}
/* 轮播图 */
/* sld = slide */
.m-sld {
	margin-bottom: 58px;
	text-align: center;
	font-size: 0;
}
.m-sld .slide {
	position: relative;
    overflow: hidden;
}
.m-sld a {
	position: relative; left: 50%;
	margin-left: -100%;
}
.m-sld .selector {
	display: inline-block;
	position: relative; top: -30px;
}
.m-sld i {
	display: inline-block;
	width: 10px; height: 10px;
	background: url('../res/sprite.png') -240px -2px no-repeat;
	cursor: pointer;
}
.m-sld i+i {
	margin-left: 11px;
}
/* 内容区域 */
/* stn = section */
.m-stn {
	margin: 0 auto 60px auto;
	width: 90%;
	font-size: 0;
}
.m-stn .item {
	position: relative;
	display: inline-block;
	width: 33.33%;
}
.m-stn .icon {
	float: left;
	width: 80px; height: 80px;
}
.m-stn .icon-1 {
	background: url('../res/sprite.png') -2px -145px no-repeat;
}
.m-stn .icon-2 {
	background: url('../res/sprite.png') -114px -25px no-repeat;
}
.m-stn .icon-3 {
	background: url('../res/sprite.png') -2px -49px no-repeat;
}
.m-stn .content {
	position: relative; top: -13px;
	padding-left: 20px; padding-right: 82px;
	overflow: hidden;
}
.m-stn .content h2 {
	margin-bottom: 20px;
	font: 22px 'Microsoft Yahei';
	color: #333;
}
.m-stn .content p {
	margin-bottom: 34px;
	font: 14px/24px 'Microsoft Yahei';
	color: #666;
}
.m-stn .content a {
	font: 14px 'Microsoft Yahei';
	color: #39a030;
}
.m-stn .content a:hover {
	text-decoration: underline;
}

/* 网页主体 */
.g-body {
	background-color: #f8f8f8;
}
/* 广告区域 */
/* ad = advertise */
.m-ad {
	position: relative; top: 2px;
    overflow: hidden;
    margin-bottom: 82px;
    text-align: center;
    font-size: 0;
}
.m-ad .wrap {
    position: relative; left: 50%;
	margin-left: -100%;
}
.m-ad .item {
	display: inline-block;
	width: 320px; height: 220px;
}
.m-ad .item+.item {
	margin-left: 4px;
}
.m-ad .item-1 {
	background: url('../res/banner/ad-1.jpg') 0 0 no-repeat;
}
.m-ad .item-2 {
	background: url('../res/banner/ad-2.jpg') 0 0 no-repeat;
}
.m-ad .item-3 {
	background: url('../res/banner/ad-3.jpg') 0 0 no-repeat;
}
.m-ad .item-4 {
	background: url('../res/banner/ad-4.jpg') 0 0 no-repeat;
}
.m-ad .item-5 {
	background: url('../res/banner/ad-5.jpg') 0 0 no-repeat;
}
/* 主内容区域 */
.g-main {
	width: 80%;
	margin: 0 auto -3px auto;
}
/* 侧栏 */
.m-side {
	float: right;
}
/* 机构介绍视频 */
/* vdo = video */
.m-vdo {
	width: 223px;
	margin-bottom: 21px;
	background-color: #fff;
	box-shadow: 1px 0 0 0 #ecebeb, 0 1px 1px 0 #d4d3d3, -1px 0 0 0 #ecebeb;
}
.m-vdo:hover {
	box-shadow: 2px 0 2px 0 #ecebeb, 0 4px 4px 0 #d4d3d3, -2px 0 2px 0 #ecebeb;
}
.m-vdo h2 {
	height: 55px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	font: 16px/55px 'Microsoft Yahei';
	color: #333;
}
.m-vdo p {
	padding-left: 22px;
	margin-bottom: 9px;
	font: 14px/14px 'Microsoft Yahei';
	color: #666;
}
.m-vdo .img {
	position: relative; left: 22px;
	width: 180px; height: 110px;
	padding-bottom: 20px;
	background: url('../res/banner/video.jpg') 0 0 no-repeat;
	text-align: center;
	cursor: pointer;
}
.m-vdo .play {
	display: inline-block;
	position: relative; top: 32px;
	width: 46px; height: 46px;
	background: url('../res/sprite.png') -196px -49px no-repeat;
}
.m-vdo .img:hover .play{
	background: url('../res/sprite.png') -196px -97px no-repeat;
}
/* 课程排行榜 */
.m-top {
	position: relative;
	width: 223px;
	background-color: #fff;
	box-shadow: 1px 0 0 0 #ecebeb, 0 1px 1px 0 #d4d3d3, -1px 0 0 0 #ecebeb;
}
.m-top:hover {
	box-shadow: 2px 0 2px 0 #ecebeb, 0 4px 4px 0 #d4d3d3, -2px 0 2px 0 #ecebeb;
}
.m-top h2 {
	height: 56px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	font: 16px/56px 'Microsoft Yahei';
	color: #333;
}
.m-top .wrap {
	display: inline-block;
	width: 223px; height: 700px;
	overflow: hidden;
}
.m-top .scroll {
	position: relative; bottom: 0;
}
.m-top .item {
	margin: 0 20px 20px 20px;
}
.m-top .item+.item {
	margin-top: 20px;
}
.m-top .img {
	float: left;
	display: inline-block;
	width: 50px; height: 50px;
}
.m-top .content {
	margin-left: 62px;
}
.m-top .name {
	margin-bottom: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	font: 14px/14px 'Microsoft Yahei';
  	color: #333;
}
.m-top .icon {
	display: inline-block;
	width: 9px; height: 10px;
	background: url('../res/sprite.png') -239px -26px no-repeat;
}
.m-top .learner {
	margin-left: 6px;
	font: 12px/12px 'Microsoft Yahei';
	color: #999;
}
/* 主栏 */
.m-main {
	position: relative; top: -3px;
	overflow: hidden;
}
/* 选项卡 */
.m-tab {
	display: inline-block;
	margin-bottom: 29px;
	font-size: 0;
	box-shadow: 1px 0 0 1px #ecebeb, 0 1px 2px 1px #d4d3d3, -1px 0 0 1px #ecebeb;
}
.m-tab:hover {
	box-shadow: 0 2px 2px 2px #d4d3d3;
}
.m-tab h2 {
	display: inline-block;
	width: 200px; height: 50px;
	font: 20px/50px 'Microsoft Yahei';
	color: #666;
	text-align: center;
	cursor: pointer;
}
/* 课程列表 */
.m-list {
	height: 1230px;
	overflow: hidden;
}
.m-list ul {
	margin-left: -20px;
	font-size: 0;
}
.m-list a {
	display: block;
	height: 100%;
}
.m-list li {
	display: inline-block;
	width: 225px; height: 228px;
	margin-left: 20px; margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 1px 0 0 1px #f1f1f1, 0 1px 2px 1px #e6e6e6, -1px 0 0 1px #f1f1f1;
	cursor: pointer;
}
.m-list li:hover {
	box-shadow: 0 1px 0 1px #e6e6e6, 1px 0 0 1px #e6e6e6, 0 2px 2px 2px #e6e6e6, -1px 0 0 1px #e6e6e6;
}
.m-list .img-wrap {
	width: 223px; height: 124px;
	margin: 1px 1px 10px 1px;
	overflow: hidden;
}
.m-list .img {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}
.m-list li:hover .img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
.m-list .name {
	margin: 0 8px 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
	font: 12px/12px 'Microsoft Yahei';
	color: #333;
}
.m-list li:hover .name {
	color: #39a030;
}
.m-list .provider {
	margin-left: 5px; margin-bottom: 10px;
	font: 12px/12px 'Microsoft Yahei';
	color: #999;
}
.m-list .icon-wrap {
	display: inline-block;
	margin-left: 5px; margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.m-list .icon {
	display: inline-block;
	margin-left: 3px; margin-top: 3px;
	width: 9px; height: 10px;
	background: url('../res/sprite.png') -239px -26px no-repeat;
}
.m-list .learner {
	display: inline-block;
	margin: 0 3px 3px 5px;
	font: 11px/10px 'Microsoft Yahei';
	color: #999;
}
.m-list .price {
	margin-left: 6px;
	font: bold 12px/12px 'Microsoft Yahei';
	color: #ff3f00;
}
/* 翻页器 */
.m-page {
	margin-top: 20px; margin-bottom: 120px;
	font-size: 0;
}
.m-page .arrow, .m-page ol, .m-page .item {
	display: inline-block;
}
.m-page .arrow, .m-page .item {
	text-align: center;
	font: 14px 'Microsoft Yahei';
	cursor: pointer;
}
.m-page .arrow {
	width: 30px; height: 20px;
	background-color: #9dd8b1;
	color: #fff;
}
.m-page .item {
	width: 20px; height: 20px;
	margin-right: 10px;
}
.m-page .item:first-child {
	margin-left: 10px;
}
.m-page .item:hover {
	background-color: #9dd8b1;
	color: #fff;
}
/* 课程卡片浮层 */
.m-ft {
	position: fixed; left: 0; top: 0;
	background-color: #fff;
	box-shadow: 0 -1px 2px 0 #d0cfd0, 1px 0 2px 0 #d1d0d0, 0 1px 2px 0 #c1c0c0, -1px 0 3px 0 #d4d3d3;
}
.m-ft .title {
	margin-bottom: 20px;
}
.m-ft .img {
	float: left;
	margin: 11px 20px 0 11px;
}
.m-ft .wrap {
	padding-top: 15px;
}
.m-ft .name {
	overflow: hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
	font: 18px/18px 'Microsoft Yahei';
	color: #333;
}
.m-ft .icon {
	display: inline-block;
	margin-top: 18px;
	width: 9px; height: 10px;
	background: url('../res/sprite.png') -239px -26px no-repeat;
}
.m-ft .learner {
	margin-left: 6px;
	font: 12px/12px 'Microsoft Yahei';
	color: #666;
}
.m-ft .provider {
	margin-top: 13px;
	font: 12px/12px 'Microsoft Yahei';
	color: #666;
}
.m-ft .category {
	margin-top: 8px;
	font: 12px/12px 'Microsoft Yahei';
	color: #666;
}
.m-ft .content {
	display: table-cell;
	width: 479px; height: 83px;
	background-color: #f8f8f8;
	vertical-align: middle;
}
.m-ft .description {
	padding: 20px 33px 20px 20px;
	font: 14px/24px 'Microsoft Yahei';
	color: #666;
}

/* 网页脚部 */
.g-foot {
	height: 262px;
	background-color: #2c3339;
}
/* 网页信息 */
.m-info {
	margin: 0 auto;
}
.m-info .title-wrap {
	font-size: 0;
	color: #39a030;
}
.m-info span {
	display: inline-block;
	vertical-align: top;
}
.m-info .logo {
	font: bold 28px/28px 'GillSansMT','Microsoft Yahei';
}
.m-info .sep {
	margin-left: 6px; margin-right: 9px;
	font: 24px 'Times New Roman','Microsoft Yahei';
}
.m-info .title {
	font: 22px 'HirginoSansGB','Microsoft Yahei';
}